# Copie ce fichier en .env et remplace les valeurs
COUCHDB_USER=admin
COUCHDB_PASSWORD=CHANGE_MOI_AVEC_UN_MOT_DE_PASSE_FORT
COUCHDB_SECRET=CHANGE_MOI_AVEC_UN_SECRET
HOURCLICK_HOST=hourclick.example.com
HOURCLICK_EMAIL=admin@example.com
